{
  "extends": ["standard", "standard-react"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "es6": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "xdescribe": true,
    "xit": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "React": true
  },
  "rules": {
    "react/jsx-space-before-closing": 0,
    "react/jsx-tag-spacing": 2
  }
}
